// Шрифты
$font-custom: 'NextArt', serif;
$font-nunito: 'Nunito Sans', sans-serif;

// Цвета
$secondary-color: #FDFDFD;
$text-color: #18121E;
$yellow-color: #F2BE22;
$green-color: #1A3E3E;
$background-color: #F3F5F4;
$black-color: #000000;

// Размеры
$font-small: 14px;
$font-input: 16px;
$font-nav: 18px;
$font-medium: 24px;
$font-large: 32px;